@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nanum+Myeongjo&family=Playfair+Display+SC:wght@400;900&family=Water+Brush&display=swap');

body,html {
  background-color: #006992 !important;
  /* color: #ECA400; */
  height: 100%;
  margin: 1em;
}
.form, .form > p {
  padding: 1em;
  margin: 1em;
  background-color: #27476E;
  color: #EAF8BF;
}
.form > p > a {
  color: #ECA400;;
}

.alert-danger {
  padding: 20px;
  background-color: #f44336!important; 
  color: white;
  margin-bottom: 15px;
}

.profile {
  background-color: #006992;
  color: #EAF8BF;
  /* padding: 2em; */
  font-family: 'Acme', sans-serif;
  font-size: large;
}
.prof-link {
  color: #ECA400;
  text-decoration: underline;
}

.img {
  max-width: 100%;
  max-height: 100%;
}
.img-thumbnail {
  border-radius: 50%;
  border: none;
  height: 150px;
  width: 150px;
  margin-top: 1em;
}
.img-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn1-color {
  background-color:#ECA400;
  color:#001D4A;
}
.bio {
  background-color:#001D4A;
  color:#EAF8BF;
  padding: 1em;
  margin: 1em;
}
h5 {
  font-size: 1.5em;
  text-align: center;
}

.button-row {
  margin: 1em;
  width: 110px;
}
.center-row {
  margin-right: auto;
  margin-left: auto;
}
