body,html {
  background-color: #006992 !important;
  /* color: #ECA400; */
  height: 100%;
  margin: 1em;
}
.form, .form > p {
  padding: 1em;
  margin: 1em;
  background-color: #27476E;
  color: #EAF8BF;
}
.form > p > a {
  color: #ECA400;;
}

.alert-danger {
  padding: 20px;
  background-color: #f44336!important; 
  color: white;
  margin-bottom: 15px;
}
