@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nanum+Myeongjo&family=Playfair+Display+SC:wght@400;900&family=Water+Brush&display=swap');

body,html {
  background-color: #006992 !important;
  /* color: #ECA400; */
  height: 100%;
  margin: 1em;
}
.form, .form > p {
  padding: 1em;
  margin: 1em;
  background-color: #27476E;
  color: #EAF8BF;
}
.form > p > a {
  color: #ECA400;;
}

.alert-danger {
  padding: 20px;
  background-color: #f44336!important; 
  color: white;
  margin-bottom: 15px;
}

.profile {
  background-color: #006992;
  color: #EAF8BF;
  padding: 2em;
  font-family: 'Acme', sans-serif;
  font-size: large;
}
.prof-link {
  color: #ECA400;
  text-decoration: underline;
}

.img-thumbnail {
  border-radius: 50%;
}
.btn1-color {
  background-color:#ECA400;
  color:#001D4A;
}