{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="sylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
<link rel="manifest" href="../static/site.webmanifest">
{% endblock %}


{% block content %}

<div class="container">
  <h1 class="text-upper">Pick Up Lines</h1>
  <hr>

  {% for pitch in pickuplines %}
  <div class="card mb-3 article-card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <h4 class="card-title article-h3">{{ pitch.name}}</h4>
          <p class="card-text">{{pitch.description}}</p>
          <a href="" alt="">Read the full story here!</a>
          <p class="card-text"><small class="text-muted">Published At: {{ pitch.posted }}</small></p>
        </div>
      </div>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

{% endblock %}