{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
<link rel="manifest" href="../static/site.webmanifest">
{% endblock %}

{% block content %}

<body>
  <header class="masthead" id="about">
    <div class="container">
      <div class="masthead-heading">Every Second <br /> Counts</div>
      <div class="btn-row">
        <a class="btn btn-color btn-xl text-uppercase" href="/pitch/new">Pitch an idea</a>
        <a class="btn btn1-color btn-xl text-uppercase" href="#categories">View Pitches</a>
      </div>
    </div>
  </header>

  <div class="container">
    <!-- Categories Grid-->
    <section class="page-section" id="categories">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Categories</h2>
          <h3 class="section-subheading text-muted">
            These are some of the pitch categories
          </h3>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Pick Up Lines-->
              <div class="categories-item categories-hover">
                <a class="categories-link" href="/pitches/pickuplines">
                  <div class="categories-hover">
                    <div class="categories-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../static/images/pickuplines.jpg" alt="..." />
                </a>
                <div class="categories-caption">
                  <div class="categories-caption-heading">
                    Pick Up Lines
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Application Pitches-->
              <div class="categories-item">
                <a class="categories-link" href="/pitches/applications">
                  <div class="categories-hover">
                    <div class="categories-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../static/images/app-pitch.jpg" alt="..." />
                </a>
                <div class="categories-caption">
                  <div class="categories-caption-heading">Application Pitches</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Business Pitches-->
              <div class="categories-item">
                <a class="categories-link" href="/pitches/business">
                  <div class="categories-hover">
                    <div class="categories-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../static/images/business-pitch.jpg" alt="..." />
                </a>
                <div class="categories-caption">
                  <div class="categories-caption-heading">Business Pitches</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <!-- Designs-->
              <div class="categories-item">
                <a class="categories-link" href="/pitches/designs">
                  <div class="categories-hover">
                    <div class="categories-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../static/images/pitch1.jpg" alt="..." />
                </a>
                <div class="categories-caption">
                  <div class="categories-caption-heading">Design Pitches</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
              <!--Interview Pitch-->
              <div class="categories-item">
                <a class="categories-link" href="/pitches/interview">
                  <div class="categories-hover">
                    <div class="categories-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../static/images/interview.jpg" alt="..." />
                </a>
                <div class="categories-caption">
                  <div class="categories-caption-heading">Interview Pitches</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <!-- Product Pitch-->
              <div class="categories-item">
                <a class="categories-link" href="/pitches/products">
                  <div class="categories-hover">
                    <div class="categories-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="../static/images/product-pitch.jpg" alt="..." />
                </a>
                <div class="categories-caption">
                  <div class="categories-caption-heading">Product Pitches</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Footer-->
  <footer class="footer" id="contact">
    <div class="container footer-content">
      <div class="row footer-content">
        <div class="row align-items-center">
          <div class="col-lg-12 text-lg-start">
            Copyright &copy; Florence Kotohoyoh
            <script>document.write(new Date().getFullYear())</script>
          </div>
        </div>
        <div class="row footer-content">
          <div class="col-lg-12 my-3 my-lg-0">
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/flokots" target="_blank"><i
                class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/Flokots" target="_blank"><i
                class="fab fa-github"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://linkedin/in/flokots" target="_blank"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

{% endblock %}